<div class="card">
  <div class="card-body text-center">
    <img src="/assets/images/empty-box.png" alt="Empty box" class="img-fluid mb-3" style="max-width: 100px;">
    <h5 class="card-title">
      <%= title %>
    </h5>
    <p class="card-text">
      <%= description %>
    </p>

  </div>
</div>