<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Webestica.com">
  <meta name="description" content="Bootstrap 5 based Social Media Network and Community Theme">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />

  <!-- Plugins CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/OverlayScrollbars-master/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/tiny-slider/dist/tiny-slider.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/choices.js/public/assets/styles/choices.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/glightbox-master/dist/css/glightbox.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/vendor/dropzone/dist/dropzone.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/flatpickr/dist/flatpickr.css" />
  <link rel="stylesheet" type="text/css" href="/assets/vendor/plyr/plyr.css" />

  <!-- Theme CSS -->
  <link id="style-switch" rel="stylesheet" type="text/css" href="/assets/css/style.css">



</head>

<body>


<!-- **************** MAIN CONTENT START **************** -->
<main class="py-5">

  <!-- Container START -->
  <div class="container">
    <!-- Extra space -->
    <div class="h-60px d-none d-lg-block"></div>
    <div class="row align-items-center text-center ">
      <!-- Error 404 START -->
      <div class="col-lg-8 mx-auto">
        



        <img src="/assets/images/about.png" alt="about">


     
        
        <h2 class="mb-2 h1">Welcome to our Social network!</h2> 
        <p> Our platform is all about fostering connections and creating a vibrant community. 
          Join us to make posts, discover like-minded peers, and build meaningful connections within the [Your School Name] network.</p>
        <!-- Button -->
        <a class="btn btn-primary-soft btn-sm" href="/">Got to home page</a>
      </div>
      <!-- Error 404 START -->
    </div> 
    <!-- Extra space -->
    <div class="h-100px d-none d-lg-block"></div>
    <!-- Row END -->
  </div>
  <!-- Container END -->

</main>




</html>